.benefits {
  width: 100%;
  background: url(../img/benefit.jpg) 50% 0 no-repeat;
  background-size: cover;
  height: 100%;
  padding: 5% 0;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.3%;
    @media screen and (min-width: 320px){
      width: 50%;
      padding: 5% 0;
    }
    @media screen and (min-width: 576px){
      width: 33.3%;
    }
  }

  &__title {
    text-align: center;
    h2 {
      font-size: 4.9rem;
      @media screen and (min-width: 320px){
        font-size: 3.9rem;
      }
      @media screen and (min-width: 576px){
        font-size: 3.9rem;
      }
      @media screen and (min-width: 1200px){
        font-size: 4.9rem;
      }
    }
    &--nobold{
      font-weight: 300;
    }
  }

  &__icon {
  }

  &__text {
    text-align: center;
  }
}

