.for-beginner {
  width: 100%;
  min-height: 65rem;
  background: url(../img/for-beginers.jpg) 50% 0 no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
  @media screen and (min-width: 320px){
    flex-direction: column;
    min-height: 55rem;
  }
  @media screen and (min-width: 768px){
    flex-direction: row;
    padding: 5%;
  }
  @media screen and (min-width: 1200px){
    min-height: 65rem;
  }

  &__title{
    &--nobold {
      font-weight: 300;
    }
    h2 {
      font-size: 1.6rem;
      color: #854399;
      letter-spacing: 3px;
      font-weight: bold;
      text-transform: uppercase;
      @media screen and (min-width: 320px){
        font-size: 1.4rem;
      }
      @media screen and (min-width: 1200px){
        font-size: 1.6rem
      }
    }

    h3 {
      margin: 0;
      font-size: 4.6rem;
    }
  }


  &__content {
    @media screen and (min-width: 320px){
      width: 100%;
      padding: 5%;
    }
    @media screen and (min-width: 768px){
      width: 50%;
    }
    @media screen and (min-width: 1200px){
      padding-left: 20%;
      padding-top: 12%;
    }
  }

  &__text {
    margin: 4rem 0 6.5rem 0;
    font-size: 1.4rem;
    line-height: 1.9rem;
    letter-spacing: 0.2px;
  }

  &__img {
    width: 50%;
    padding: 0 25%;
    @media screen and (min-width: 768px){
      padding: 10% 0;
    }
    @media screen and (min-width: 1200px){
      padding: 20rem 12rem 0 12rem;
    }
    img {
      width: 37rem;
      @media screen and (min-width: 320px){
        width: 100%;
        min-width: 20rem;
      }
      @media screen and (min-width: 576px){
        min-width: 30rem;
      }
      @media screen and (min-width: 992px){
        width: 37rem;
      }
    }
  }
}

